# Advection Diffusion solver 1D configuration file


GRID_POINTS = 201
DOMAIN_LENGHT = 1.0
ADVECTION_SPEED = 1.0
DIFFUSION_SPEED = 0.0
TIME_STEP = 0.001
INITIAL_TIME = 0.0
END_TIME = 0.5
SPATIAL_SCHEME = UPWIND
TIME_SCHEME = RK4
BOUNDARY_CONDITIONS = PERIODIC
INITIAL_CONDITIONS = GAUSSIAN

VERBOSE = true
