# MVP CFD solver configuration file

# Solver type
SOLVER = INCOMPRESSIBLE_NS_2D 	 			# ADVECTION_DIFFUSION_1D | ADVECTION_DIFFUSION_2D | BURGERS_2D | INCOMPRESSIBLE_NS_2D

# Grid options
GRID_POINTS_X = 201
GRID_POINTS_Y = 201
DOMAIN_LENGHT_X = 2.0
DOMAIN_LENGHT_Y = 2.0

# Simulation settings
DIFFUSION_COEFF = 0.01
TIME_STEP = 0.001
INITIAL_TIME = 0.0
END_TIME = 3.0

# Spatial and Time schemes
SPATIAL_SCHEME = QUICK   			# UPWIND | CENTRAL | QUICK
TIME_SCHEME = RK4					# EULER_EXPLICIT | RK4

# Initial Conditions Settings
INITIAL_CONDITIONS = CONSTANT
AMPLITUDE_IC = 0.0

# Possible value for INITIAL_CONDITIONS:
#   GAUSSIAN    (1D only)  → requires: AMPLITUDE_IC, X0_IC, SIGMA_IC
#   SQUARE_WAVE (1D & 2D)  → requires: AMPLITUDE_IC, BASELINE_VALUE_IC, RANGE_START_IC, RANGE_END_IC (1D)
#                                       AMPLITUDE_IC, BASELINE_VALUE_IC, RANGE_START_X_IC, RANGE_END_X_IC,
#                                                     RANGE_START_Y_IC, RANGE_END_Y_IC (2D)
#   SINUSOIDAL  (1D only)  → requires: AMPLITUDE_IC
#   CONSTANT    (1D & 2D)  → requires: AMPLITUDE_IC


# ----- Boundary Conditions Setting -----
# Boundary conditions are defined per face (bottom, top, left, right)
# Layout: { bottom, top, left, right }
#
# BOUNDARY_CONDITIONS_VALUES_X defines the prescribed values for each boundary face.
# Example: BOUNDARY_CONDITIONS_VALUES_U = {0.0, 1.0, 0.0, 0.0}
#
# BOUNDARY_CONDITIONS_TYPES_X defines the type of boundary condition per face.
# Allowed values: Dirichlet (D), Neumann (N)
# Example: BOUNDARY_CONDITIONS_TYPES_U = {D, N, N, N}
#
# A well-posed problem requires at least one Dirichlet boundary condition.
#
# For periodic boundary conditions, set:
#   BOUNDARY_CONDITION = PERIODIC
# In this case, periodicity overrides individual boundary type settings.
#
# Otherwise set:
#   BOUNDARY_CONDITIONS = MIXED
# and use BOUNDARY_CONDITIONS_TYPES_X to define D/N conditions.
#
# Example: lid-driven cavity
# Top wall moves right (u = 1.0), all other walls are no-slip (u = 0.0)

BOUNDARY_CONDITIONS_VALUES_U = {0.0, 1.0, 0.0, 0.0}
BOUNDARY_CONDITIONS_VALUES_V = {0.0, 0.0, 0.0, 0.0}
BOUNDARY_CONDITIONS_VALUES_P = {0.0, 0.0, 0.0, 0.0}

BOUNDARY_CONDITIONS_TYPES_U = {D,D,D,D}
BOUNDARY_CONDITIONS_TYPES_V = {D,D,D,D}
BOUNDARY_CONDITIONS_TYPES_P = {N,D,N,N}

BOUNDARY_CONDITIONS = MIXED


#Output flag
VERBOSE = true

#Results
OUTPUT_DIR = results/
OUTPUT_FILE = output
OUTPUT_FREQUENCY = 20
