# MVP CFD solver configuration file

# Solver type
SOLVER = BURGERS_2D 	 			# ADVECTION_DIFFUSION_1D | ADVECTION_DIFFUSION_2D | BURGERS_2D

# Grid options
GRID_POINTS_X = 201
GRID_POINTS_Y = 201
DOMAIN_LENGTH_X = 2.0
DOMAIN_LENGTH_Y = 2.0

# Simulation settings
DIFFUSION_COEFF = 0.0
TIME_STEP = 0.001
INITIAL_TIME = 0.0
END_TIME = 3.0

# Spatial and Time schemes
SPATIAL_SCHEME = QUICK   			# UPWIND | CENTRAL | QUICK
TIME_SCHEME = RK4					# EULER_EXPLICIT | RK4

# Initial Conditions Settings
INITIAL_CONDITIONS = SQUARE_WAVE
AMPLITUDE_IC = 2.0
BASELINE_VALUE_IC = 1.0
RANGE_START_X_IC = 0.5 
RANGE_END_X_IC = 1.0
RANGE_START_Y_IC = 1.0
RANGE_END_Y_IC = 1.5

# Possible value for INITIAL_CONDITIONS:
#   GAUSSIAN    (1D only)  → requires: AMPLITUDE_IC, X0_IC, SIGMA_IC
#   SQUARE_WAVE (1D & 2D)  → requires: AMPLITUDE_IC, BASELINE_VALUE_IC, RANGE_START_IC, RANGE_END_IC (1D)
#                                       AMPLITUDE_IC, BASELINE_VALUE_IC, RANGE_START_X_IC, RANGE_END_X_IC,
#                                                     RANGE_START_Y_IC, RANGE_END_Y_IC (2D)
#   SINUSOIDAL  (1D only)  → requires: AMPLITUDE_IC
#   CONSTANT    (1D & 2D)  → requires: AMPLITUDE_IC

# ----- Boundary Conditions Setting -----
# Boundary conditions are defined per face (bottom, top, left, right)
# Layout: { bottom, top, left, right }
#
# Supports Dirichlet (D) and Neumann (N) boundary conditions
#
# For periodic boundary conditions, set:
#   BOUNDARY_CONDITION = PERIODIC
# In this case, periodicity overrides individual boundary type settings.
#
# Channel flow configuration (velocity inlet on the right boundary, outlet on the left boundary)

BOUNDARY_CONDITIONS = DIRICHLET  # DIRICHLET | NEUMANN | PERIODIC

BOUNDARY_CONDITIONS_VALUES_U = {0.0, 0.0, 2.0, 2.0}
BOUNDARY_CONDITIONS_VALUES_V = {0.0, 0.0, 0.0, 0.0}



#Output flag
VERBOSE = true

#Results
OUTPUT_DIR = results/
OUTPUT_FILE = output
OUTPUT_FREQUENCY = 20
